GITLAB_URL=https://gitlab.example.com
GITLAB_TOKEN=gpat****

LLM_PROVIDER=ollama
LLM_MODEL=codellama
LLM_TEMPERATURE=0.1

# alternativ für openai/openrouter
OPENROUTER_API_KEY=***

# Benutze litellm (lokaler Router)
USE_LITELLM=true

# Setze den LOG_LEVEL auf "debug" für detaillierte Protokollierung
# LOG_LEVEL=debug
